html,
body {
  scroll-behavior: smooth;
  background-image: url('/public/assets/overlay.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-color: #0a0a0aaa;
}

section,
div,
article {
  scroll-margin-top: 110px;
}

@font-face {
  font-family: 'kyivType-regular';
  src: url('/public/fonts/KyivTypeSerif-Regular.otf') format('opentype');
  font-weight: normal;
}

.kyiv-font {
  font-family: 'kyivType-regular';
}
